doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //image(class='headImage',src="http://www.xiangyouji.com.cn:3000/227269f7-f4d2-3427-b70c-7d057e58589c.jpg")
    image(class='headImage',src=image_url)
    //h1(class='entityName')红树林自然保护区


